@media only screen and (max-width: 1200px) {
    
    .text-todo {
        text-shadow: none;
        color: #000000 !important;
        font-family: IRY;
        font-size: 22px;
        margin-top: -224px;
        height: 106px;
        position: absolute;
        top: 250px;
        font-weight: 400 !important;
        z-index: 1;
        background-color: #e9e9e9;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 102% !important;
        display: flex !important;
        right: 0px !important;
        align-items: center !important;
        justify-content: center !important;
        left: 0px !important;
        font-weight: 400 !important;
        width: 100% !important;
        margin-bottom: 39px !important;
    }

    h1 {
        font-size: 35px;
        color: #ffffff;
        position: relative;

    }

    .all-todos {
           position:relative;
        z-index: 1 !important;
        top: 700px;
        right: 0px;
        left: 0px;
        margin-right: auto;
        margin-left: auto;    
        width: 100%;
            height: 150px !important;
    }
    
    .todo-button {
        position: absolute;      
        height: 200px;
        top:40px;     
        transform: scale(1.1);
         left: 0px !important;
        margin-right: auto !important;
        margin-left:auto!important;
        right: 0px !important;
    }

    .select {
   width:40% !important;
        position: absolute;
        height: 52px;
        transform: scale(1);
        top: 35px;
        left: 0px !important;
        margin-right: auto !important;
        margin-left: unset !important;
        right: unset !important;
    }



    .form-control {
        display: block;
        width: 70%;
        height: calc(2.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: .9375rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000 !important;
        background-color: #dee3e6;
        background-clip: padding-box;
        border: 1px solid #4e4d4d;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin-left: 53px;
        font-family: 'vazir' !important;
        padding-top: 5px !important;
    }

    .form-label {
        font-family: 'vazir' !important;
    }  


    
}


@media only screen and (max-width: 992px) {
    .all-todos {   
        top: 950px; 

    }



    .text-todo {
        top: -722px !important;
    }

    h1 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 28px;
        text-align: center;
        top: -901px;
        position: relative;
    }    
    .select {
        top:15px;     
    }
        .todo-button {    
        height: 200px;
        top: 20px;    
        transform: scale(1)!important;
    }


}

@media only screen and (max-width: 768px) {


    .text-todo {
        top: -701px !important;
    }

    .todo-button {    
        height: 200px;
        top: 190px!important;  
        transform: scale(1);
    }

    .select {
    width:70% !important;
        position: absolute!important;
        height: 52px;
        transform: scale(1)!important;
        top: 110px;
        left: 0px !important;
        margin-right: auto !important;
        margin-left: auto!important;
        right:0px!important;
    }

    h1 {
        top: 7px !important;
        font-size: 22px;
        position: relative;
        color: #ffffff !important;
    }}

@media screen and (max-width: 576px) {
    .text-todo {
        font-size: 15px !important;
    }
    .all-todos {
        top: 1000px !important;  width: 90%;
    }
    .select {  
        top: 80px !important;    
    width:85% !important; 
        height: 52px;
 
    }

    
    .todo-button {      
        top: 80px !important;  
        border-radius: 7px !important;
        height: 31px !important;
        width: 31px !important;
    }
.todo-input {  
        top: 5px;}
    .fa,
    .fab,
    .fal,
    .far,
    .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 0;
        top: -5px;
        position: relative;
        right: -4px;
        transform: scale(.9);
    }

    h1 {
        font-size: 14px;
        margin-right: auto;
        margin-left: auto;
        color: #41494a !important;
        text-shadow: none;
        top: -1192px;
        font-weight: 600;
        z-index: 0;
    }
}

@media screen and (max-width: 338px) {
    .todo-button {
        border-radius: 7px !important;
        top: 90px !important;
        height: 31px !important;
        width: 31px !important;
        right: 11px !important;
        margin-right: auto;
        margin-left: auto;
        transform: scale(.9) !important;
    }

    .text-todo {
        width: 107% !important;
        background-color: #06101d;
        color: #ffffff !important;
        border-radius: 35px;
        font-size: 8px !important;
        height: 30px;
        padding-top: 11px;
        font-weight: 400;
        top: -896px;
        font-weight: 700;
    }

    .all-todos {
        top: 800px !important;
 
    }

    .select {
        width: 100% !important;
        position: absolute;
        top: 130px !important;
        left: 0px !important;
        right: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    h1 {
        font-size: 14px;
        margin-right: auto;
        margin-left: auto;
        color: #41494a !important;
        text-shadow: none;
        top: -1192px;
        font-weight: 600;
        z-index: 0;
    }

    .containerinput {
        margin-top: 225px;
        box-shadow: #d1cfd3 2px 3px 4px 1px;
        border-radius: 0px;
        z-index: 0 !important;
        display: flex;
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 1200px) {
    .text-todo {
        align-items: center !important;
        background-color: #e9e9e9;
        color: #000 !important;
        display: flex !important;
        font-family: IRY;
        font-size: 24px;
        font-weight: 400 !important;
        height: 106px;
        justify-content: center !important;
        left: 0;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: -204px;
        padding-top: 0px;
        position: absolute;
        right: 0 !important;
        top: 173px;
        width: 102% !important;
        width: 100% !important;
        z-index: 1;

    }

    .form-control {
        display: block;
        width: 70%;
        height: calc(2.em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000 !important;
        background-color: #dee3e6;
        background-clip: padding-box;
        border: 1px solid #615f5f;
        border-radius: 0.25rem;
        padding-top: 5px !important;

        margin-left: 53px;
        font-family: 'vazir' !important;
    }


    .all-todos {
        align-items: center;
        border-bottom: 5px solid #e7e7e7;
        border-radius: 28px;
        display: flex;
        height: 114px;
        justify-content: space-between;
        left: 30px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        right: 0;
        top: 600px;
        width: 1077px;
        z-index: 8888;
    }





}

h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    text-align: center;
    color: #ffffff !important;
    font-weight: 900;
    top: -887px;
    z-index: 1;
    text-shadow: none;
    position: relative;
    font-family: 'dana';
    z-index: 0;

}